.patient-container-popup {
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  left: 0px;
  right: 0px;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.patient-container-popup .card {
    width: 30%;
    height: 65vh;
    background-color: #fff;
    border-radius: 10px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.patient-container-popup .card h4 {
    font-size: 22px;
   align-self: center;
}

.patient-container-popup .wrapper {
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.patient-container-popup .wrapper span {
    margin-bottom: 5px;
}

.patient-container-popup .wrapper input {
    height: 45px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #808080;
}

.patient-container-popup button {
    height: 50px;
    width: 40%;
    border-radius: 10px;
    border: none;
    margin-top: 20px;
    font-size: 18px;
}

.patient-container-popup .button-container {
    display: flex;
    justify-content: space-between;
}

.patient-container-popup .button-container button:nth-child(1) {
    background-color: red;
    color: #fff;
}

.patient-container-popup .button-container button:nth-child(2) {
    background-color: green;
    color: #fff;
}

/* Survey styles */
.patient-container-popup textarea {
    height: 100px;
    padding: 10px;
    border-radius: 10px;
    resize: none;
}

.patient-container-popup .exit-no {
    width: 40px;
    height: 40px !important;
    border-radius: 5px;
}

.patient-container-popup .create-more {
    height: 40px;
    font-size: 14px;
    align-self: center;
    min-height: 40px;
}

.patient-container-popup .card1 {
    justify-content: flex-start;
    height: 90vh;
    width: 40%;
    overflow: scroll;
}