.left-side-bar {
    height: calc(100vh - 70px);
    width: 250px;
    min-width: 250px;
    background-color:#2e3443;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
}

.left-side-bar button {
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  background-color: transparent;
  border: none;
  height: 50px;
  text-align: left;
  cursor: pointer;
  border-radius: 10px;
  padding: 0px 10px;
}

.left-side-bar .active {
  background-color: #495269;
}