nav {
    height: 70px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0px 20px;
}

nav button {
    height: 50px;
    width: 180px;
    background-color: #2ed573;
    align-self: flex-end;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    color: #fff;
}